@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.content__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'lato', sans-serif;
}

@media (max-width: 799px) {
  .content__offer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 800px) {
  .content__offer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
}

.systemkmpi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  font-family: 'lato',sans-serif;
  background-size: cover;
}

@media (max-width: 799px) {
  .systemkmpi {
    -ms-flex-preferred-size: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
  }
}

@media (min-width: 800px) {
  .systemkmpi {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (min-width: 1200px) {
  .systemkmpi {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.systemkmpi--all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(data/kmpi.jpg);
}

.systemkmpi--all--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.systemkmpi--all--header p {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: silver;
}

.systemkmpi--all--content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.systemkmpi--all--button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.systemkmpi--all--button-btn {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  background-color: brown;
  font-size: 19px;
}

.systemkmpi--all--button-btn a {
  text-decoration: none;
  color: #222222;
  width: 100%;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doradztwo {
  height: 400px;
  margin-bottom: 30px;
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 799px) {
  .doradztwo {
    -ms-flex-preferred-size: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
  }
}

@media (min-width: 800px) {
  .doradztwo {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (min-width: 1200px) {
  .doradztwo {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
/*# sourceMappingURL=offer.css.map */