@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.content__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'lato', sans-serif;
}

@media (max-width: 799px) {
  .content__offer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 800px) {
  .content__offer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
}

.systemkmpi {
  /*  &--photo
    {
        width: 100%;
       // height: 100%;
        object-fit: cover;
    }*/
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: url(data/kmpi.jpg);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 799px) {
  .systemkmpi {
    -ms-flex-preferred-size: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
  }
}

@media (min-width: 800px) {
  .systemkmpi {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (min-width: 1200px) {
  .systemkmpi {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.systemkmpi--header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: mediumaquamarine;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
}

.systemkmpi--background {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.systemkmpi--background--text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: deepskyblue;
  font-weight: bold;
}

.systemkmpi--button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.systemkmpi--button-btn {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: mediumaquamarine;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.systemkmpi--button-btn a {
  text-decoration: none;
  color: #222222;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.systemkmpi--button button:focus {
  border: 1px solid #222222;
}

.doradztwo {
  height: 400px;
  margin-bottom: 30px;
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 799px) {
  .doradztwo {
    -ms-flex-preferred-size: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
  }
}

@media (min-width: 800px) {
  .doradztwo {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (min-width: 1200px) {
  .doradztwo {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
/*# sourceMappingURL=offer.css.map */