@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.content__offer
{
    @media(max-width: 799px)
    {
        flex-basis: 100%;
        margin-top: 10px;
       // margin-bottom: 15px;
    }
    @media(min-width: 800px)
    {
        flex-basis: 100%;
        margin-top: 20px;
        //margin-bottom: 25px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'lato', sans-serif;
}
.systemkmpi
{
    @media(max-width: 799px)
    {
        flex-basis: calc(100% - 40px);
    }
    @media(min-width: 800px)
    {
        flex-basis: 80%;
    }
    @media(min-width: 1200px)
    {
        flex-basis: 70%;
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-family: 'lato',sans-serif;
    //background-color: white;
    //background-color: white;
    background-size: cover;

    &--all
    {
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-image: url(data/kmpi.jpg);
    &--header
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-basis: 100%;
       //background-color: red;
        p
        {
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: bold;
            color: silver;
        }
    }
    &--content
    {
        flex-basis: 100%;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 20px;
       padding-right: 20px;
       //background-color: rebeccapurple;
       margin-bottom: 20px;
       color: #666;
    }
    &--button
    {
        flex-basis: 100%;
        height: 70px;
       // background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn
        {
            width: 140px;
            height: 50px;
            border-radius: 25px;
            border: 0;
            outline: 0;
            background-color: lighten(#800000, 10%);
            font-size: 19px;
            a
            {
                text-decoration: none;
                color: #222222;
                width: 100%;
                height: 100%;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s ease-in-out;
            }
            a:hover
            {
                color: #111111;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    }
}
    




//w budowie/
.doradztwo
{
    @media(max-width: 799px)
    {
        flex-basis: calc(100% - 40px);
    }
    @media(min-width: 800px)
    {
        flex-basis: 80%;
    } 
    @media(min-width: 1200px)
    {
        flex-basis: 70%;
    }
    height: 400px;
    margin-bottom: 30px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}