.hamburger
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger__box
{
display: inline-block;
z-index: 10;
width: 40px;
height: 50px;
position: absolute;
}
.hamburger__box:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.hamburger__inner
{
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .2s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after
{
    content: '';
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transition: transform .3s .2s ease-in-out;
}
.hamburger__inner::before
{
top: -10px;
}
.hamburger__inner::after
{
top:10px;
}
.hamburger--active .hamburger__inner
{
    background-color: transparent;
}
.hamburger--active .hamburger__inner::before
{
    transform: translateY(10px) rotate(45deg) ;
}
.hamburger--active .hamburger__inner::after
{
    transform: translateY(-10px) rotate(-45deg) ;
}
.navigation
{
    height: 100%;
    @media(max-width: 499px)
    {
        width: 100%;
    }
    @media(min-width: 500px)
    {
        width: 80%;
    }
    @media(min-width: 800px)
    {
        width: 60%;
    }
    @media(min-width: 1200px)
    {
        width: 50%;
    }
    z-index: 5;
    background-color: mediumaquamarine;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s .1s ease-in-out;
    display: flex;
    justify-content: center;
    &--active
    {
        transform: translateX(0%);
    }
}
.nav__box
{
    flex-basis: 90%;
    background-color: red;
    height: 80vh;
    min-height: 300px;
    max-height: 500;
    margin-top: 50px;
}